*, *::after, *::before, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body, html{
    height: 100%;
}

.main_container{
    display: flex;
    height: 100%;
    width: 100%;
}

.main_container .sub_cont1{
    width: 550px;
    background-color: rgb(0, 123, 150);
    padding: 30px 30px;
}
.main_container .sub_cont2{
    width: 100%;
    background-color: #fcfcfc;
}

/* Header */
header{
    font-size: 50px;
    font-family: serif;
    margin: auto;
    width: fit-content;
    font-weight: bold;
    color: #ffb700;
    cursor: pointer;
}

header span{
    place-items: center;
}

header span img{
    height: auto;
    width: 80px;
    margin-bottom: -20px;
}


/* FORM */
.form{
    margin-top: 60px;
}

form div{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    font-size: 18px;
    color: #fff;
    position: relative;
    letter-spacing: 0.5px;
}

form div span{
    font-size: 16px;
    margin-top: 5px;
    color: rgb(247, 161, 161);
    visibility: hidden;
}

form div input[type="text"]{
    background-color: transparent;
    border: none;
    border-bottom: 3px dotted white;
    line-height: 30px;
    outline: none;
    font-size: 20px;
    color: #fff;
}

.bookpages > label,
.bookauthor > label, 
.booktitle > label{
    position: absolute;
    top: 3px;
    pointer-events: none;
    font-size: 18px;
    transition:top 200ms, font-size 200ms;
} 

label.labeltrans{
    top: -30px;
    font-size: 16px;
}

#bookread{
    display: none;
}

#bookread:checked ~ .check{
    display: block;
}

div.bookread label{
    display: flex;
    cursor: pointer;
    width: fit-content;
}

div.bookread img{
    height: auto;
    width: 30px;
    position: absolute;
    top: -15px;
    left: -3px;
    display: none;
    animation-name: scaleout;
    animation-duration: 500ms;
}

#checkbox{
    border: 1px solid white;
    height: 20px;
    width: 20px;
    display: inline-flex;
    margin-bottom: 0;
    margin-right: 10px;
}

form button{
    padding: 18px;
    font-size: 18px;
    letter-spacing: 2px;
    background-color: #ffb700;
    color: rgb(0, 123, 150);
    border: 2px solid white;
    cursor: pointer;
}
form button:hover{
    background-color: #dd9f02;
}

/* TABLE */

.bodycont{
    margin: auto;
    width: fit-content;
    margin-top: 50px;
}

.bookhead{
    display: flex;
    justify-content: space-between;
    width: 700px;
    font-size: 18px;
    font-weight: 100;
    color:rgb(0, 123, 150);
    margin: auto;
}

.bookhead div{
    padding: 18px 0;
}

.bookhead div:last-child{
    background-color: rgb(251, 125, 125);
    padding: 18px;
    color: #ffffff;
    cursor: pointer;
}

table{
    width: 800px;
    margin-top: 30px;
    font-size: 18px;
    /* border: 2px solid rgb(0, 123, 150); */
}

thead{
    background-color: #ffb700;
    border: none;
    column-gap: 0;
    border-bottom: 10px solid rgb(0, 123, 150);
}

th{
    padding: 15px 35px;
    color:rgb(255, 255, 255);
    font-weight: 100;
    /* border-collapse: collapse; */
}

td{
    padding: 10px;
    color:rgb(0, 123, 150);

}

/* KEYFRAMES */
@keyframes scaleout {
    0%{
        transform: scale(0);
    }
    50%{
        transform: scale(2);
    }100%{
        transform: scale(1);
    }
}


/* MEDIA QUERIES */
@media only screen and (max-width: 1240px){
    .main_container{
        flex-direction: column;
    }

    .main_container .sub_cont1{
        width: 100%;
    }

    .form{
        width: 490px;
        margin: auto;
        margin-top: 50px;
    }

    .bodycont{
        margin-bottom: 100px;
        /* display: none; */
    }
}


@media only screen and (max-width: 550px){
    .form{
        width: 100%;
    }
}