@import url('https://fonts.googleapis.com/css2?family=Gajraj+One&family=Gloock&display=swap');

*, *::after, *::before, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
}

:root{
    --main-font: 'Gloock', serif;
    --blue: rgb(0, 123, 150);
    --yellow: #ffb700;
    --lred: rgb(247, 161, 161);
    --red: rgb(251, 125, 125);
}

body, html{
    height: 100%;
}

.main_container{
    display: flex;
    height: 100%;
    width: 100%;
}

.main_container .sub_cont1{
    width: 550px;
    background-color: var(--blue);
    padding: 30px 30px;
}
.main_container .sub_cont2{
    width: 100%;
    background-color: #fcfcfc;
}

/* Header */
header{
    font-size: 50px;
    font-family: 'Gajraj One', cursive;
    margin: auto;
    width: fit-content;
    font-weight: bold;
    color: var(--yellow);
    cursor: pointer;
    letter-spacing: 1px;
}

header span{
    place-items: center;
}

header span img{
    height: auto;
    width: 80px;
    margin-bottom: -20px;
}


/* FORM */
.form{
    margin-top: 60px;
}

form div{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    font-size: 18px;
    color: #fff;
    position: relative;
    letter-spacing: 0.5px;
}

form div span{
    font-size: 16px;
    margin-top: 5px;
    color: var(--lred);
    visibility: hidden;
}

form div input[type="text"]{
    background-color: transparent;
    border: none;
    border-bottom: 3px dotted white;
    line-height: 30px;
    outline: none;
    font-size: 20px;
    color: #fff;
}

.bookpages > label,
.bookauthor > label, 
.booktitle > label{
    position: absolute;
    top: 3px;
    pointer-events: none;
    font-size: 18px;
    transition:top 200ms, font-size 200ms;
} 

label.labeltrans{
    top: -30px;
    font-size: 16px;
}

#bookread{
    display: none;
}

#bookread:checked ~ .check{
    display: block;
}

div.bookread label{
    display: flex;
    cursor: pointer;
    width: fit-content;
}

div.bookread img{
    height: auto;
    width: 30px;
    position: absolute;
    top: -15px;
    left: -3px;
    display: none;
    animation-name: scaleout;
    animation-duration: 500ms;
}

#checkbox{
    border: 1px solid white;
    height: 20px;
    width: 20px;
    display: inline-flex;
    margin-bottom: 0;
    margin-right: 10px;
}

form button{
    padding: 18px;
    font-size: 18px;
    letter-spacing: 2px;
    background-color: var(--yellow);
    color: rgb(0, 123, 150);
    border: 2px solid white;
    cursor: pointer;
}
/* form button:hover{
    background-color: #dd9f02;
} */

/* TABLE */

.bodycont{
    margin: auto;
    width: fit-content;
    margin-top: 50px;
}

.bookhead{
    display: flex;
    justify-content: space-between;
    width: 700px;
    font-size: 18px;
    font-weight: 100;
    color:rgb(0, 123, 150);
    margin: auto;
    letter-spacing: 1px;
}

.bookhead div{
    padding: 18px 0;
}

.bookhead button{
    padding: 18px 18px;
    font-size: 18px;
    color: #fff;
    background-color: var(--red);
    border: none;
    cursor: pointer;
}

.bookhead div:last-child{
    background-color: var(--red);
    padding: 18px;
    color: #ffffff;
    cursor: pointer;
}

table{
    width: 800px;
    margin-top: 30px;
    font-size: 18px;
    border-collapse: collapse;
}

thead{
    background-color: var(--yellow);
    border: none;
    column-gap: 0;
    border-bottom: 10px solid var(--blue);
    letter-spacing: 1px;
}

th{
    padding: 15px 25px;
    color:rgb(255, 255, 255);
    font-weight: 100;
    text-align: left;
    /* border-collapse: collapse; */
}

td{
    padding: 25px;
    color: var(--blue);

}

tbody tr:nth-child(even){
    background-color: #e9e6e6;
}

tr{
    border-bottom: 1px solid black;
}

tr td:last-child button{
    background-color: var(--red);
    padding: 15px;
    color: #fff;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

tr td:nth-child(4) span{
    padding: 10px;
    display: flex;
    width: fit-content;
    cursor: pointer;
}

table, thead, th, tr, td{
    border: none;
    border-width: 0;
}

.hide{
    display: none;
}

.rimg{
    width: 20px;
    height: auto;
    pointer-events: none;
}

/* KEYFRAMES */
@keyframes scaleout {
    0%{
        transform: scale(0);
    }
    50%{
        transform: scale(2);
    }100%{
        transform: scale(1);
    }
}


/* MEDIA QUERIES */
@media screen and (max-width: 1240px){
    .main_container{
        flex-direction: column;
    }

    .main_container .sub_cont1{
        width: 100%;
    }

    .form{
        width: 490px;
        margin: auto;
        margin-top: 50px;
    }

    .bodycont{
        margin-bottom: 100px;
        /* display: none; */
    }
}

@media screen and (max-width: 850px){
    table{
        display: flex;
        margin: auto;
        margin-top: 50px;
        width: fit-content;
    }

    thead{
        display: none;
    }

    tbody{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    td{
        display: flex;
        border-bottom: 1px solid white;
        align-items: center;
    }

    tbody tr:nth-child(odd){
        background-color: var(--blue);
    }
    
    tbody tr:nth-child(odd) td{
        color: #fff;
    }

    tr{
        box-shadow: 5px 5px 5px 1px rgba(137, 149, 176, 0.547);
        width: 300px;
        display: flex;
        align-content: center;
        flex-direction: column;
        padding: 0 10px;
    }

    tr strong{
        /* background-color:#ffb700; */
        padding: 15px;
        padding-right: 5px;
        margin-right: 10px;
        height: fit-content;
    }
    
    tr span{
        border-left: 2px solid var(--yellow);
        padding-left: 10px;
        height: fit-content;
    }

    tr td:last-child{
        border: none;
    }

    tbody tr:nth-child(even) td{
        border-bottom: 1px solid var(--blue);
    }

        tbody tr:nth-child(even) td:last-child{
            border: none;
        }

    .hide{
        display: inline;
    }
}

@media screen and (max-width: 770px){
    .bookhead{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 450px;
    }

    .bookhead div:last-child{
        text-align: center;
    }
}

@media screen and (max-width: 700px){
    tbody{
        grid-template-columns: repeat(1, 1fr);
    }
}


@media screen and (max-width: 550px){
    .form{
        width: 100%;
    }
}

@media screen and (max-width: 520px){
    .bookhead{
        grid-template-columns: repeat(1, 1fr);
        place-items: center;
        width: 100%;
    }
}

@media screen and (max-width: 390px){
    header{
        font-size: 40px;
    }

    header span img{
        width: 70px;
    }
}